@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg) translateZ(0);
  }
}

.loader {
  border: 0.25rem solid rgba(0, 0, 0, 0.1); /* Use rem for scalable units */
  border-left-color: #4f46e5;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite; /* Adjusted speed for smoother animation */
  will-change: transform; /* Optimization hint */
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown-menu {
    position: static;
    width: 100%; /* Full-width dropdown for mobile */
  }

  .dropdown-menu a {
    width: 100%; /* Full-width links for mobile */
  }
}

@media (min-width: 1024px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .dropdown-menu {
    min-width: 200px; /* Dropdown width for desktop */
  }
}
